body {
	background-image: url('/static/hex.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

nav .navbar-nav li a{
  margin-right: 5px;
  margin-left: 10px;
  }

  nav .navbar-nav li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

#register {
  text-decoration: none;
  color: #498afb;
  border: solid #498afb 1px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#login {
  text-decoration: none;
  color: #ff3860;
  border: solid #ff3860 1px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

button {
  background-image: url(images/cancel.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 80px;
  border: none;
}

button span {
  display: none;
}

#nav1 {
  position: sticky;
}
#nav2 {
  position: sticky;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

@media only screen and (max-width: 600px) {
  nav .navbar-nav {
                display: none;
            }
  #hamburger-icon {
                display: block;
  }
  ul  {
      background-color: #22222294;
  }
  ul > li {
    list-style: none;
    margin-top: 15px;
  }
  ul > li > a {
    color: white
  }
  #login,
  #signup {
    margin-top: 15px;
  }
  #lognin {
    background-color: #498afb;
    color: #498afb;
    border: solid #498afb 1px;
    padding: 5px;
    padding: 11px;
    padding-top: 10px;
    padding-bottom: 18px;
    margin-top: 35px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 8%;
    width: 170px;
    text-align: center;
  }
  #signup {
    background-color: #ff3860;
    color: #ff3860;
    border: solid #ff3860 1px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 18px;
    margin-top: 35px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 8%;
    width: 170px;
    text-align: center;
  }
  .mobile-menu > li {
    text-decoration: none;
  }
  .dropdown {
    display: none;
  }
  #profile,
  #rating,
  #saved {
    background-color: #498afb;
    color: #498afb;
    border: solid #498afb 1px;
    padding: 5px;
    padding: 11px;
    padding-top: 10px;
    padding-bottom: 18px;
    margin-top: 35px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 8%;
    width: 170px;
    text-align: center;
  }
}