{% extends "base.html"  %}


{% block content %}
<style>

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 36%;
  color:rgb(5, 5, 52);
  border-bottom: solid rgb(5, 5, 52) 3px;
}

.container{
  margin-left: 1%;
	margin-top: 15%;
	width: 99%;
	height: 1000px;
  align-items: center;
}

.search-bar{
  width: 90%;
  height: 5%;
  margin: 0 auto;
  background: rgba(136, 168, 247, 0.507);
  padding: 3%;
  padding-right: 7px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: black;
  border-radius: 30px;
  border: 1px solid black;
  margin-left: 21%;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

::placeholder{
  color: black;
}

.search-bar button img{
  width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(60, 60, 174);
  cursor: pointer;
}

body {
	background-image: url('/static/bright.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('/static/foodie.jpg');
  }
  h1 {
    margin: auto;
    margin-bottom: 20px;
    color:rgb(5, 5, 52);
    border-bottom: solid rgb(5, 5, 52) 3px;
  }
  .search-bar{
    margin: auto;
  }

  .container {
    margin-top: 40%;
  }
}

  </style>
  <body>

    <div class="container">
      <h1>LUNCHJAKT</h1>
      <form action="{{ url_for('suggestion_page') }}" method="GET" class="search-bar">
        <input type="text" placeholder="sök något" name="searched">
        <button type="submit"><img src="/static/search_icon.png"> </button>
      </form>

    </div>
    

{% endblock %}



