{% extends "base.html"  %}

{% block content %}

<style>
    body {
        color: black;
    }

    .container {
	width: 95% !important;
	margin: auto;
	margin-top: 5%;
	display: block;	
	display: flex;
	flex-direction: column;
}
</style>

<body>
    <div class="container">
        <h1>Logga in:</h1>
        <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv din mejl här">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Lösenord</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Skriv in ditt lösenord">
            </div>
            <button class="btn btn-primary" type="submit">Logga in</button>
          </form>

    </div>

</body>

{% endblock %}