{% extends "base.html"  %}

{% block content %}

<style>
    body {
        color: white;
    }
</style>

<body>
    <div class="container">
        <h1>Skapa konto</h1>
        <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv din mejl här">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Lösenord</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Skriv in ditt lösenord">
            </div>
            <div class="form-group">
                <label for="firstname">Förnamn</label>
                <input type="text" name="fname" class="form-control" id="firstname" placeholder="Skriv in ditt förnamn"> 
            </div>
            <div class="form-group">
                <label for="lastname">Efternamn</label>
                <input type="text" name="lname" class="form-control" id="lastname" placeholder="Skriv in ditt efternamn"> 
            </div>
            <button class="btn btn-primary" type="submit">Registrera dig</button>
          </form>

    </div>

</body>

{% endblock %}