{% extends "base.html"  %}

{% block content %}

<style>

a{
color: #282425!important;	
}
ul.nav.nav-tabs > li{
	display: inline-block;
	line-height: 50px;
	height: 100%;
	text-transform:uppercase;
}
ul.nav.nav-tabs > li a{
	display:block;
	padding:15px;
	color: #282425!important;
	
}
ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
	background:	#FB282F;
	color:#fff!important;
	text-decoration: none!important;
}
ul.nav.nav-tabs > li a.active{
	background:	#282425;
	color:#fff!important;
	text-decoration: none!important;
}
.card-header {
    background-color: rgb(245,245,245,0.3)!important;
	border-radius:0!important;
	height: 100px;
}
.card{
border-radius:15px;
margin-top: 5%;
}

.card > .card-header a::before {
    font-family: fontawesome;
    content: "\f067 ";
    color: #282425;
    float: right;
    margin-right: 15px;
    font-weight: 400;
    position: absolute;
    right: 0;
}

.container {
	width: 95% !important;
	margin: auto;
	margin-top: 5%;
	display: block;	
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
  	justify-content: center;	
}

  </style>
  <body>

	

	<div class="container">
		<h1>Lunchjakt</h1>
		<div class="row">
			<div class="col-sm-12">
				<div class="tab-content">
					<div id="tab1" class="tab-pane fade show active">
						{% for resturant in resturants %}
							<div class="card">
								<div class="card-header" id="infraOne">
									<a href="#{{ resturant.id }}" data-toggle="collapse" data-target="#{{ resturant.id }}" aria-expanded="false" aria-controls="{{ resturant.id }}">
										<p class="mb-0">
								  		{{ resturant.name }}
									</p>
								</a>
								</div>
									<div id="{{ resturant.id }}" class="collapse" aria-labelledby="infraOne">
										<div class="card-body">
											<p>Cool sida</p>
										</div>
									</div>
							</div><!-- close card-->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}


    
    

    



